html{
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}


::selection {
    background-color: #1de118;
}
::selection {
    background: #1de118;
    color: #ffffff;
}
.container{
    background:rgba(245,245,245,0.8);
    padding:0;
    width:770px;
    margin: auto;
    min-height: 1000px;
}
.navbar .container-fluid .navbar-nav li a:hover{
    color:#1de118;
}
.paddtop{
    padding-top: 200px;
    overflow: hidden;
    float: left;
    font-weight:400;
}
.glyphicon{
    color:#ccc;
}
.navbar .container-fluid .navbar-nav li a{
    padding-right: 9px;
    overflow:hidden;
    font-family: Arial;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    color:#cccccc;
}
.navbar-inverse .navbar-nav > li.dropdown:hover > a,
.navbar-inverse .navbar-nav > li.dropdown:hover > a:hover,
.navbar-inverse .navbar-nav > li.dropdown:hover > a:focus {
    background: inherit;
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}

li.dropdown ul {
    display:none;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background: #151515;
}

#logo{
    padding:0;
    border-right: 1px solid darkgray;
}
.navbar{
    background: #151515;
    padding:0;
}
.dropdown-toggle{
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
    font-size:17px;
}
.container{
    background:rgba(245,245,245,0.8);
    padding:0;
   /* width:770px;*/
    margin: auto;
    /*min-height: 1000px;*/
}
.navbar .container-fluid .navbar-nav li a:hover{
    color:#1de118;
}
.overtitle{
    z-index: 9999;
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    color:white;

}
#mainimage{
    /*background-image: url("images/4.jpg");*/
    /*width:1140px;
    height:690px;*/
    -webkit-filter: brightness(80%);
   /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
}